# --- SERVERLESS VERCEL CONFIG (.env for root) ---
# Supabase Project settings
SUPABASE_URL=your-supabase-url
SUPABASE_SERVICE_ROLE_KEY=your-supabase-service-role-key

# --- FRONTEND SITE CONFIG (frontend/.env) ---
# Same url, but uses anon key for client-side functionality
VITE_SUPABASE_URL=your-supabase-url
VITE_SUPABASE_ANON_KEY=your-supabase-anon-key
